{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"
                                   :exclusions [ring/ring
                                                org.eclipse.jetty.websocket/websocket-servlet
                                                org.eclipse.jetty/jetty-server
                                                org.eclipse.jetty/jetty-websocket
                                                org.eclipse.jetty/jetty-util
                                                org.eclipse.jetty/jetty-io
                                                org.eclipse.jetty/jetty-http
                                                org.eclipse.jetty/jetty-servlet
                                                org.eclipse.jetty/jetty-webapp
                                                org.eclipse.jetty/jetty-security
                                                org.eclipse.jetty/jetty-xml
                                                org.eclipse.jetty.websocket/websocket-server
                                                org.eclipse.jetty.websocket/websocket-common
                                                org.eclipse.jetty.websocket/websocket-api]}
        reagent/reagent {:mvn/version "1.2.0"}
        thheller/shadow-cljs {:mvn/version "2.28.10"}}
 :paths ["src"]
 :aliases {:prod {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "app"]}
           :dev {:extra-paths ["dev"]
                 :extra-deps {ring/ring-devel {:mvn/version "1.12.2"}}}
           :flowstorm-local {:classpath-overrides {org.clojure/clojure nil}
                             :extra-deps {com.github.flow-storm/clojure {:mvn/version "RELEASE"}
                                          com.github.flow-storm/flow-storm-dbg {:mvn/version "RELEASE"}}
                             :jvm-opts ["-Dflowstorm.startRecording=false"
                                        "-Dclojure.storm.instrumentEnable=true"
                                        #_"-Dclojure.storm.instrumentAutoPrefixes=true"
                                        "-Dclojure.storm.instrumentOnlyPrefixes=portfolio."]}}}
