@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Define Lora Regular font */
@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*containers*/
body {
  margin: 0;
  background: linear-gradient(205deg, rgba(187, 189, 174, 0.156),rgb(1, 0, 1) 60%);
  background-color: #150628;
  font-family: 'Lora', 'Fira Sans', Cambria, 'Times New Roman', Times, serif;
  font-size: var(--font-size-base);
  color: #e8efffea;
}

.heading {

}
#clj-icon {
  transition: transform 0.5s ease-in-out;
}
#clj-icon:hover {
  transform: rotate(360deg);
}
#reagent-icon:hover {
  opacity: 0;
}
.title {
  
}
.landing-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;

}

.landing-content {
  
}

.interactivity {

}

.main-content {
  display: flex;
  justify-content: center;
  text-align: center;
}
.layout {

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  transition: background 0.5s ease, background-color 0.5s ease;
}
.micont {

}

#homeCarousel {
  
}
#homeCarousel .carousel-inner {
  border-radius: 5%/10%;
  margin-top: 3vh;
  border: 1px solid #15062880;
  box-shadow: 2px 0 5px rgba(1,0,1,0.5);
  background-color: #b699db18;
  width: 60vw;  
  height: 50vh;
}
.carousel-item {
}

#homeCarousel .carousel-control-prev, #homeCarousel .carousel-control-next {
  position: fixed;
  top: 43.5%;
  width: 35%;
  height: 15%; 
  border-radius: 50%; 
  color: white; 
  border: none;
  z-index: 0; 
  cursor: pointer; 
  transition: transform 0.6s ease;
  align-items: center;
  justify-content: center;
  transform: scale(200%);
}
#homeCarousel .carousel-control-prev:hover, #homeCarousel .carousel-control-next:hover {
  color: rgb(197, 179, 179); 
}

.hometext, .mission {
  font-size: 22pt;
}

.sidebar {
  width: 15vw; 
  background: linear-gradient(135deg, rgba(187, 189, 174, 0.156),rgb(1, 0, 1) 65%);
  background-color: #150628;
  padding: 20px; 
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);

  position: fixed;
  top: 0;
  left: -15vw; 
  height: 100vh;
  transition: left 5s ease; 
}
.sidebar.visible {
  left: 0;
  transform: translateY(-.5vh);
  font-size: larger;
  z-index: 1;
}



.footer {
  background-color: black;
  color: white;
  height: 8.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}


.landing-content {
  align-self: center;
  text-align: center;
}

.page-list {
  margin-top: 5vh;
}

.page-menu {
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.page-menu:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/*Error messages if improper login*/
.error-message {
  display: none; 
  color: red;
}
.error-message.visible {
  display: block;
}
.error-message p {
  margin: 0;
}
.loadinggg {
  transform: scale(20%,20%);
  text-align: center;
  font-size: 124pt;
  height: auto;   
  width: auto;    
}

form { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #8594e435;
 }

 li {
  text-align: left;
 }

 /*fonts*/

 :root {
    --font-size-base: 16px;
    --font-size-h1: 5em;
    --font-size-h2: 4em;
    --font-size-h3: 3.5em;
    --font-size-h4: 2.5em;
    --font-size-h5: 2em;
    --font-size-h6: 1.75em;
  }
  
  h1 {
    font-size: var(--font-size-h1);
  }
  
  h2 {
    font-size: var(--font-size-h2);
  }
  
  h3 {
    font-size: var(--font-size-h3);
  }
  
  h4 {
    font-size: var(--font-size-h4);
  }
  
  h5 {
    font-size: var(--font-size-h5);
  }
  
  h6 {
    font-size: var(--font-size-h6);
  }

 /*buttons*/

 input[type="text"],
 input[type="password"] {
    width: 100%;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Cambria;
    background: #fffefb99;
 }
 input[type="text"]:focus,
 input[type="password"]:focus {
   background: #fffefbfb;
 }
 input[type="submit"] {
    background-color: #ede9f6f3;
    color: #290c35;
    border: none;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Cambria;
 }
 input[type="submit"]:hover {
    background-color: #b5b8d39d;
 }
button {
  background-color: #fff678;
  color: #290c35;
  border: none;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  font-family: Cambria;
  font-weight: bold;
}
button:hover {
  background-color: #fff678be;  
}

.rainbow-button {
  background-color: #ede9f6f3;
  color: linear-gradient(45deg,  #290c35, blue, indigo, rgb(180, 94, 180), rgb(231, 74, 74), #ff22ae, rgb(26, 126, 26));
  border: none;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.rainbow-button:hover {
  background-color: #b5b8d39d;
}

.rainbow-text {
  display: flex;
  background: linear-gradient(45deg,  #290c35, blue, indigo, rgb(180, 94, 180), rgb(231, 74, 74), #ff22ae, rgb(26, 126, 26));
  background-clip: text;
  white-space: nowrap;
  -webkit-background-clip: text;
  color: transparent;
  gap: .2vw;
}
.btn-primary:hover {
  transform: scale(125%);
  filter:brightness(2);
}


/*Not implemented*/
 .cursor-effect {
   position: absolute;
   border-radius: 50%;
   pointer-events: none;
   mix-blend-mode: multiply;
   transition: background-color 1s ease;
   z-index: 1000;
}












a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #fbffe4;
}
a.extras-button {
  margin-top: 5vh;
  position: absolute;
  display: block;
  
}




/*.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 20px,
    rgba(255, 255, 255, 0.4) 20px,
    rgba(255, 255, 255, 0.4) 21px
  ),
  repeating-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 20px,
    rgba(255, 255, 255, 0.4) 20px,
    rgba(255, 255, 255, 0.4) 21px
  );
}*/

/*individual pages*/

.art-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.art-intro {
  width: 75%;
  font-size: 16pt;
}
.art-container {
  overflow: auto;
  scrollbar-width: none;
  margin: 0 auto; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.art-content {
  width: 95%;
  height: fit-content;
  align-items: center;
}
.art-table {
  align-items: center;
  align-content: center;
}
#artCarousel .carousel-inner {
  width: 45vw;
  height: 55vh;
  align-items: center;
}
#artCarousel .carousel-control-prev
#artCarousel .carousel-control-next {
  top: 50%;
  width: 5%;
  height: 5%; 
  border-radius: 50%;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.6s ease;
  box-shadow: 2px 0 5px rgba(1,0,1,0.5);
}
#artCarousel .carousel-control-prev:hover
#artCarousel .carousel-control-next:hover {
  color: rgb(197, 179, 179); 
}

.mus-table-wrapper,
.art-table-wrapper,
.bio-table-wrapper {
  height: auto;
  display: flex;
  gap: 10vw;  
  overflow: auto;
  padding: 10px;
}
.mus-content,
.bio-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.mus-table-wrapper,
.bio-table-wrapper {

}
.mus-table-cell,
.bio-table-cell {
  width: 50vw;
  text-align: center;
}

#bioCarousel .carousel-control-prev, 
#bioCarousel .carousel-control-next {
  top: 50%;
  width: 5%;
  height: 5%; 
  border-radius: 50%;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.6s ease;
  box-shadow: 2px 0 5px rgba(1,0,1,0.5);
}

#bioCarousel .carousel-control-prev:hover, 
#bioCarousel .carousel-control-next:hover {

  color: rgb(197, 179, 179); 
}

#bioCarousel .carousel-inner,
#bioCarousel .carousel-inner {
  border-radius: 5%/10%;
  border: 1px solid #15062880;
  box-shadow: 2px 0 5px rgba(1,0,1,0.5);
  background-color: #b699db18;
  width: 40vw;  
  height: 60vh;
}
#musCarousel .carousel-inner, 
#bioCarousel .carousel-inner {
  border: 1px solid #15062880;
  box-shadow: 2px 0 5px rgba(1,0,1,0.5);
  background-color: #b699db18;
}
#musCarousel .carousel-item,
#bioCarousel .carousel-item {
  align-items: center;
  align-content: center;
}

.hiking-lor {
  display: flex;
  width: 100%;
}

.wrt-content {
  color: #2a1d12;
  text-align: center;
}
.mus-container,
.wrt-container,
.bio-container {
  overflow: auto;
  scrollbar-width: none;
  margin: 0 auto; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  align-items: center;
  width: 90%;
}

.mus-container {
  display: flex;
  height: 70vh;
  align-items: center;
}


.wrt-table {
  word-wrap: break-word;
}
.wrt-table-cell {
  width: 20vw;
}

.image-container img {
  transition: transform 0.3s ease;
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.image-container img.zoomed {
  transform: scale(2);
}
#gCarousel .carousel-control-prev, 
#gCarousel .carousel-control-next,
#cCarousel .carousel-control-prev, 
#cCarousel .carousel-control-next,
#contCarousel .carousel-control-prev, 
#contCarousel .carousel-control-next,
#cosCarousel .carousel-control-prev, 
#cosCarousel .carousel-control-next,
#pwCarousel .carousel-control-prev, 
#pwCarousel .carousel-control-next {
  top: 50%;
  width: 5%;
  height: 5%; 
  border-radius: 50%;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.6s ease;
  box-shadow: 2px 0 5px rgba(1,0,1,0.5);
}
#gCarousel .carousel-control-prev:hover, 
#gCarousel .carousel-control-next:hover,
#contCarousel .carousel-control-prev:hover, 
#contCarousel .carousel-control-next:hover,
#contCarousel .carousel-control-prev:hover, 
#contCarousel .carousel-control-next:hover,
#cosCarousel .carousel-control-prev:hover,
#cosCarousel .carousel-control-next:hover,
#pwCarousel .carousel-control-prev:hover, 
#pwCarousel .carousel-control-next:hover {
  color: rgb(197, 179, 179); 
}
#gCarousel .carousel-inner, 
#gCarousel .carousel-inner,
#cCarousel .carousel-inner,
#contCarousel .carousel-inner,
#cosCarousel .carousel-inner,
#pwCarousel .carousel-inner {
  border-radius: 5%/10%;
  margin-top: 1vh;
  border: 1px solid #15062880;
  box-shadow: 2px 0 5px rgba(1,0,1,0.5);
  background-color: #b699db18;
  width: 50vw;  
  height: 60vh;
}


.prg-heading-table {
  
}
.prg-heading-table-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.prg-heading-cell {
  width: 75vw;  
}
.sp-prg-heading-column{
  width: 40vw;  
}
.prg-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 95vw;
}
.prg-table-wrapper {
  margin-right: 10vw;
}
.prg-table-row {
  display: flex;
  text-align: center;
  justify-content: center;
}
.prg-table-cell {
  width: 60vw;
  text-align: center;
}
.prg-left-subheading-buttons,
.prg-right-subheading-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

#prg-button {
  padding: .5ex;
  border-radius: 8%/45%;
  background-color: #97b3fc85; 
}
#prg-button:hover {
  color: #ffffff;
  background-color: #97b3fcbc; 
}
#prg-button:active,
#prg-button:focus {
  color: #ffffff;
  background-color: #d59755f0; 
}


.sp-prg-table-cell {
  border: 1pt solid #fff;
  border-radius: 10% / 40%;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-color: #b699db28;;
}
.sp-prg-table-column {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 5vh;
  height: 95%;
  margin-left: 25vw;
 
  border-radius: 10%/7%;
}